/*
Author: Harpreet Kaur
Date: 10/3/23
*/
body, header, nav, main, footer, h1, div, img, ul{
	margin: 0;
	padding: 0;
	border: 0
}
body{
	background-color: #676867;
}
img{
	max-width: 100%;
	display: block;
}
header{
	color: #fff;
	margin: 1em;
}
header h1{
	color: #fff;
	font-size: 50px;
	font-weight: 600;
	text-align: center;
	background-clip: text;
	/*border: 1px dashed #fff;*/
}
nav{
	padding: 1%;
	margin-bottom: 1%;
}
main{
	padding: 1%;
	font-size: 2em;
	color: #fff;
	/*border: 1px dashed #fff;*/
}
#contact{
	font-size: .75em;
	text-align: center;
}
 #contact .cell{
	color: #d5ec0b;
}
#contact .email-link{
	color: #d5ec0b;
}
#contact h5{
	text-decoration: underline;
}
#contact a {
	text-decoration: none;
	color: #fff;
}
#chapter{
	text-align: left;
	font-size: .5em;
}
main p a{
	text-decoration: none;
	color: #fff;
}
nav ul{
	list-style-type: none;
	text-align: center;
}
nav li{
	font-size: 1.5em;
	font-family: 'Francois One', sans-serif;
	border-top: 1px solid #fff;
}
nav li:first-child{
	border-top: none;
}
nav li a{
	display: block;
	color: #fff;
	padding: .5em 1em;
	text-decoration: none;
}
nav li a:hover{
	color: #000;
	background-color: #fff;
}
.map1{
	width: 600px;
	height: 450px;
}
.map2{
	width: 600px;
	height: 450px;
}
footer{
	position: absolute;
	bottom: 0;
	right: 0;
}
footer p{
	font-size: 1em;
	text-align: center;
	color: #fff;
	padding: 0 1em;
}
footer p a{
	color: #fff;
	text-decoration: none;
}
