/*
Author: Harpreet Kaur
Date: 10/3/23*/
body, header, nav, main, footer, h1, div, img, ul, article, figcaption, figure, section{
	margin: 0;
	padding: 0;
	border: 0
}
body{
	background-color: #676867;
}
img{
	max-width: 100%;
	display: block;
}
/*Style rules for mobile viewport*/
header{
	color: #fff;
	margin: 1em;
}
header h1{
	color: #fff;
	font-size: 40px;
	font-weight: 600;
	text-align: center;
	background-clip: text;
}
nav{
	padding: 1%;
	margin-bottom: 1%;
}
main{
	padding: 2%;
	font-size: 1.75em;
	color: #fff;
}
a{
	text-decoration: none;
	color: #fff;
}
table{
	padding: 2%;
	color: white;
}
th, td{
	border: 2px solid #fff;
	background-color: #4e4b4b;
}
caption{
	font-size: 1.5em;
}
.grid article{
	font-size: .80em;
}
article{
	padding: 2%;
}
article h3{
	font-weight: bold;
	text-align: center;
}
article ul{
	margin-left: 10px;
}
article:nth-of-type(1){
	background-color: rgba(175, 169, 169, 0.39);
	box-shadow: 5px 5px 8px #1d1d1d;
}
article:nth-of-type(2){
	background-color: rgba(63, 62, 62, 0.39);
	box-shadow: 5px 5px 8px #1d1d1d;
}
article:nth-of-type(3){
	background-color: rgba(17, 17, 17, 0.39);
	box-shadow: 8px 8px 10px #1d1d1d;
}
.puppy{
	width: 300px;
	height: 200px;
	display: inline-block;
}
.dog{
	width: auto;
	height: 500px;
	display: inline-block;
}
.round{
	border-radius: 8px;
}
.about{
	width: 80%;
	margin: 25px;
	padding: 10px;
	overflow: hidden;
}
#contact{
	font-size: .75em;
	text-align: center;
}
#contact .cell{
	color: #d5ec0b;
}
#contact .email-link{
	color: #d5ec0b;
}
#contact h5{
	text-decoration: underline;
}
#contact a {
	text-decoration: none;
	color: #fff;
}
#chapter{
	text-align: left;
	font-size: .5em;
}
#form{
	margin-top: 2%;
}
fieldset, input, select, textarea{
	margin-bottom: 2%;
}
fieldset legend{
	font-weight: bold;
	font-size: 1em;
}
label{
	font-size: .75em;
	display: block;
	padding-top: 3%;
}
.btn{
	margin-bottom: 50px;
}
main p a{
	text-decoration: none;
	color: #fff;
}
nav ul{
	list-style-type: none;
	text-align: center;
}
nav li{
	font-size: 1.5em;
	font-family: 'Almarai', sans-serif;
	border-top: 1px solid #fff;
}
nav li:first-child{
	border-top: none;
}
nav li a{
	display: block;
	color: #fff;
	padding: .5em 1em;
	text-decoration: none;
}
nav li a:hover{
	color:#000;
	background-color: #fff;
}
.frame{
	position: relative;
}
.pic-text{
	font-size: .75em;
	padding: 10px;
	width: 100%;
	position: absolute;
	bottom: 0;
	color: #000;
	text-align: center;
}
.grid2 article ul{
	margin-left: 10px;
}
.grid2 article li{
	margin-left: 20px;
}
.map2{
	width: 300px;
	height: 200px;
}
.map1{
	width: 300px;
	height: 200px;
}
@media screen and (min-width: 630px), print{
	/*Tablet Viewport: Show tablet-desktop class, hide mobile class */
	.tablet-desktop{
		display: block;
	}
	.mobile{
		display: none;
	}

	/*Tablet Viewport: Style rule for header*/
	header{
		padding-bottom: 2%;
	}

	/*Tablet Viewport: Style for nav area*/
	nav li{
		border-top: none;
		display: inline-block;
		border-right: 1px solid #fff;
	}
	nav li:last-child{
		border-right: none;
	}
	nav li a{
		padding: 0.1em 0.75em;
	}
	main ul{
		margin: 0 0 4% 10%;
	}
	.grid{
		display: grid;
		grid-template-columns: auto auto auto;
		grid-gap: 10px;
	}
	#chapter{
		font-size: .75em;
		text-align: center;
	}
	#intro{
		text-align: center;
		font-size: .75em;
	}
	#intro img{
		width: 200px;
		height: auto;
		display: inline-block;
	}
	.email-link{
		font-size: 1em;
	}
	.cell{
		font-size: 1.25em;
	}
	.map1{
		width: 600px;
		height: 450px;
		margin: 10px;
	}
	.map2{
		width: 600px;
		height: 450px;
		margin: 10px;
	}
	table{
		border: 2px solid #fff;
		border-collapse: collapse;
		margin: 0 auto;
		width: 80%;
		height: 200px;
		color: white;
	}
	caption{
		font-size: 1.5em;
		font-weight: 600;
		padding: 1%;
	}
	th, td{
		border: 2px solid #fff;
	}
	th{
		background-color: #000;
		font-size: 1em;
	}
	td:hover{
		background-color: #000;
	}
	tr:nth-child(odd){
		background-color: #8f8f8f;
	}
	
}

@media screen and (min-width: 1015px), print{

	header{
		padding-bottom: 2%;
	}
	#chapter{
		font-size: .75em;
		text-align: center;
	}
	#intro{
		text-align: center;
		font-size: .75em;
	}
	#intro img{
		width: 200px;
		height: auto;
		display: inline-block;
	}
	.email-link{
		font-size: 1em;
	}
	.cell{
		font-size: 1.25em;
	}
	.grid2 article{
		margin: auto;
		height: 200px;
		width: 1000px;
		padding-top: .5%;
		font-size: .75em;
	}
	form{
		margin: auto;
		text-align: center;
		height: 200px;
		width: 400px;
		margin-bottom: 10px;
	}
	.btn{
		font-size: .75em;
		display: inline-block;
		border-radius: 5px;
		border-color: #fff;
	}
}
@media screen and (min-width: 1921px){
	#container{
		width: 1920px;
		margin: 0 auto;
	}

	table{
		width: 80%;
	}
}

@media print{
	body{
		background-color: #fff;
		color: #000;
	}
}

footer{
	position: absolute;
	bottom: 0;
	right: 0;
}
footer p{
	font-size: 1em;
	text-align: center;
	color: #fff;
	padding: 0 1em;
}
footer p a{
	color: #fff;
	text-decoration: none;
}
