body, main, footer, table {
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    background-color: #ffe5dc;
    font-family: sans-serif;
}
table{
	width: 50%;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	border: 5px solid #fd4d0c;
    box-shadow: 13px 13px 10px #792101;
	border-collapse: collapse;
}

table tr, th, td{
	padding: 2%;
}

caption{
	font-size: 2em;
	padding: 2%;
	margin-top: 2%;
    color: #792101;
}

th, td{
	border: 1px solid #a22c02;
}
td{
	text-align: center;
}
th{
    background-color: #792101;
    color: #fff;
}
tr:nth-child(odd){
	background-color: #fe9772;
}
p{
    text-align: center;
}